<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<% @users.each do |user| %>
	<div class = 'userinfo'>
		<h4>Username:</h4> <%= user.username %>
		<h4>First Name:</h4> <%= user.fname %>
		<h4>Last Name:</h4> <%= user.lname %>
	</div>
<% end %>