<div id="page">
	<h1 class="userinfo">All Users</h1>
	<% @users.each do |u| %>
		<div class = 'userinfo'>
			<h2 class="snug"><%= link_to u.username, u %> </h2> 
			<h4 class="snug"><%= u.fname %>  <%= u.lname %></h4>
			<p class="snug">Number of posts: <%= u.posts.count %><p>
		</div>
	<% end %>
</div>