<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<div class = 'userinfo'>
	<h4>Username:</h4> <%= @user.username %>
	<h4>First Name:</h4> <%= @user.fname %>
	<h4>Last Name:</h4> <%= @user.lname %>
</div>

<%= link_to "Edit User Info", edit_user_path %>

Post.where(user_id == @user.id).last(10)

User.find(id).posts

@user.posts each do