// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#home_page {
	width: 80%;
	margin: 0 auto;
}

.lcolumn {
	width: 35%;
	float: left;
	position: fixed;
}

.text_area {
	font-size: 15px;
	border: 1px solid #000000;
	float: right;
}

#addpost {
	padding: 15px;
	min-width: 400px;
	clear: both;
	border: 1px solid #ffffff;
	height: 165px;
	width: 85%;
	margin-top: 15px;
	background-color: #ffffff;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.feed {
	width: 50%;
	float: right;
}

.posts {
	width: 90%;
	border: 1px solid #ffffff;
	padding: 20px;
	margin-bottom: 15px;
	background-color: #ffffff;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.top_space {
	margin-top: 10px;
}

#profile_card {
	border: 1px solid #ffffff;
	width: 300px;
	padding: 20px;
	background-color: #ffffff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#user_img {
	width: 100px;
	height: 100px;
	border: 1px solid #000000;
	display: inline-block;
}

#user_name {
	display: inline-block;
}

#user_stats {
	width: 100%;
	margin-top: 10px;
}

.user_stat {
	width: 30%;
	display: inline-block;
	border: 1px solid;
	padding: 2px;
	text-align: center;
}

#followerslist {
	width: 300px;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 15px;
	background-color: #ffffff;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}