// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#home_page {
	width: 80%;
	margin: 0 auto;
}

.lcolumn {
	width: 49%;
	float: left;
	border: 1px solid;
}

.text_area {
	font-size: 15px;
	border: 1px solid #000000;
	float: right;
}

#addpost {
	padding: 15px;
}

.feed {
	width: 50%;
	float: right;
}

.posts {
	width: 90%;
	border: 1px solid black;
	padding: 15px;
	margin-bottom: 10px;
	float: right;
}

.top_space {
	margin-top: 10px;
}