// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#posts_page {
	width: 60%;
	margin: 0 auto;
}

.subtitle {
	font-size: 20px;
	font-weight: 700;
}

#comments {
	padding-top: 20px;
}

#comments div {
	margin-bottom: 20px;
}

#newpostpage {
	padding: 15px;
	min-width: 400px;
	clear: both;
	border: 1px solid #ffffff;
	height: 260px;
	width: 40%;
	margin-top: 15vh;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

#editpostpage {
	padding: 15px;
	min-width: 400px;
	clear: both;
	border: 1px solid #ffffff;
	height: 260px;
	width: 40%;
	margin-top: 15vh;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}