// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#posts_page {
	width: 60%;
	margin: 0 auto;
}

.subtitle {
	font-size: 20px;
	font-weight: 700;
}

#comments {
	padding-top: 20px;
}

#comments div {
	margin-bottom: 20px;
}